PORT=3000
NODE_ENV=development
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<dbname>?retryWrites=true&w=majority

JWT_SECRET=long_stringgggggggggggg
JWT_EXPIRES_IN=7d

RESEND_API_KEY=

ADMIN_SEED_NAME_1=Vishmi Perers
ADMIN_SEED_EMAIL_1=vault.admin1@gmail.com
ADMIN_SEED_PASSWORD_1=Vault@123
